td(colspan="8")
    pagination(total-items="numPackets", items-per-page="pageItemLimit", page="getCurrentPage()", max-size="9", boundary-links="true", on-select-page="setPage(page)", previous-text="‹", next-text="›", first-text="«", last-text="»")
