div(ng-controller="DashboardCtrl").dashboard
    .row
        .col-lg-12
            button(type="button",ng-click="getData()").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Dashboard
            .row
                .col-lg-6
                    hr
                    h3 Packets/Database
                    .col-sm-8
                        canvas(donutchart,options="chartPacketOptions",data="chartPacketData",height="300px")
                    .col-sm-4
                        ul.list-group
                            li.list-group-item
                                span Online:
                                span.label.label-success.pull-right {{onPacketPercentage() | number:1}}%
                            li.list-group-item
                                span Offline:
                                span.label.label-danger.pull-right {{offPacketPercentage() | number:1}}%
                            li.list-group-item
                                span Redundant:
                                span.label.label-default.pull-right {{redPacketPercentage() | number:1}}%
                            li.list-group-item
                                span Next database cleanup: {{nextDbCleanup | date:'dd.MM HH:mm'}}
                .col-lg-6
                    hr
                    h3 Server
                    .col-sm-8
                        canvas(donutchart,options="chartPacketOptions",data="chartServerData",height="300px")
                    .col-sm-4
                        ul.list-group
                            li.list-group-item
                                span Online:
                                span.label.label-success.pull-right {{onServerPercentage() | number:1}}%
                            li.list-group-item
                                span Offline:
                                span.label.label-danger.pull-right {{offServerPercentage() | number:1}}%
            .row(ng-controller="NotificationCtrl")
                .col-lg-6.dashnoti
                    hr
                    button(type="button",ng-click="clearNotifications()").pull-right.btn.btn-xs.btn-default clear
                    h3 Download notifications
                    ul.list-group
                        li(ng-repeat='notification in notifications | reverse', ng-class='[notification.type]').list-group-item
                            .col-lg-9
                                .row
                                    span(tooltip-placement="bottom", tooltip="{{notification.packObj.filename}}") {{notification.packObj.filename | truncate:50}}
                                .row
                                    span(tooltip="{{getError(notification)}}") {{getError(notification) | truncate:50}}
                            .col-lg-3
                                span.pull-right {{notification.time | timeago}}
                .col-lg-6