div(ng-controller="DownloadsCtrl").downloads
    .row
        .col-lg-12
            button(type="button",ng-click="getData()").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Downloads
            .table-responsive
                table.table.table-hover.table-striped.table-condensed
                    thead
                        tr
                            th Packet
                            th Q
                            th Filename
                            th Size
                            th Speed
                    tbody
                        tr(ng-repeat="pack in dlList")
                            td
                                .row
                                    .col-xs-12
                                        span {{pack.server}}
                                .row
                                    .col-xs-12
                                        span {{pack.nick}}
                                .row
                                    .col-xs-12
                                        span {{pack.nr}}
                            td
                                span {{pack.queuePos}}
                            td
                                .row
                                    .col-xs-12
                                        span {{pack.filename}}
                                .row
                                    .col-xs-12
                                        progress(percent="pack.progress").progress-striped.active
                            td
                                span {{pack.filesize}}
                            td
                                span {{pack.speed}}


