div(ng-controller="DownloadsCtrl").downloads
    .row
        .col-lg-12
            button(type="button",ng-click="getData()").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Downloads
            .table-responsive
                table.table.table-hover.table-condensed.table-striped
                    thead
                        tr
                            th Bot
                            th Q
                            th Filename
                            th Size
                            th Speed
                            th
                    tbody
                        tr(ng-repeat="(key, pack) in dlList", ng-class="rowClass(pack)")
                            td
                                span {{pack.nick}}
                            td
                                span.queuepos {{pack.queuePos}}
                            td
                                .row
                                    .col-xs-12
                                        span(tooltip-placement="bottom", tooltip="{{pack.filename}}") {{pack.filename|truncate:100}}
                                .row
                                    .col-xs-12
                                        .progress(ng-class="{collapse:!hasRealSize(pack)}", tooltip="{{pack.progress}}% ~ {{pack.recieved|bytes}} of {{pack.realsize|bytes}}")
                                            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{pack.progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{pack.progress}}%;')


                            td
                                span(ng-class="{collapse:!(pack.recieved > 0)}").dlrecieved {{pack.recieved|bytes}}/<br>
                                span(ng-class="{collapse:hasRealSize(pack)}") {{pack.filesize|bytes}}
                                span(ng-class="{collapse:!hasRealSize(pack)}") {{pack.realsize|bytes}}
                            td
                                span.dlspeed {{pack.speed|bytes}}/s
                                .btn-group.queueupdown
                                    button(type="button",ng-click="downqueue(pack)", ng-class="{disabled:fistqueue(pack,key)}").btn.btn-default.btn-xs
                                        span.glyphicon.glyphicon-arrow-up
                                    button(type="button",ng-click="upqueue(pack)", ng-class="{disabled:lastqueue(pack,key)}").btn.btn-default.btn-xs
                                        span.glyphicon.glyphicon-arrow-down
                            td
                                button(type="button",ng-click="cancelDownload(pack)").btn.btn-default.btn-xs
                                    span.glyphicon.glyphicon-stop


