div(ng-controller="PacketListCtrl" select="init(search)")
    .row
        .col-lg-12
            button(type="button",ng-click="setPage(1)").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Packets {{searchString}}
            .table-responsive
                table(style="opacity:{{getOpacity()}}").table.table-hover.table-striped.table-condensed
                    thead
                        tr
                            th(ng-click="setSorting('server')") Server
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('server')]").glyphicon
                            th(ng-click="setSorting('nick')") Bot
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('nick')]").glyphicon
                            th(ng-click="setSorting('nr')") #
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('nr')]").glyphicon
                            th(ng-click="setSorting('downloads')") Gets
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('downloads')]").glyphicon
                            th(ng-click="setSorting('filesize')") Size
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('filesize')]").glyphicon
                            th(ng-click="setSorting('filename')") Filename
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('filename')]").glyphicon
                            th(ng-click="setSorting('lastseen')") Last seen
                                span(ng-class="{desc:'glyphicon-chevron-down', asc:'glyphicon-chevron-up', none:''}[sorted('lastseen')]").glyphicon
                            th
                    tfoot
                        td(colspan="8")
                            pagination(total-items="numPackets", items-per-page="pageItemLimit", page="getCurrentPage()", max-size="9", boundary-links="true", on-select-page="setPage(page)", previous-text="‹", next-text="›", first-text="«", last-text="»")

                    tbody
                        tr(ng-repeat="packet in packets")
                            td
                                span {{packet.server}}
                            td
                                span {{packet.nick}}
                            td
                                span {{packet.nr}}
                            td
                                span {{packet.downloads}}
                            td
                                span {{packet.filesize}}
                            td
                                span(tooltip-placement="bottom", tooltip="{{packet.filename}}") {{packet.filename|truncate:50}}
                            td
                                span(tooltip-placement="bottom", tooltip="{{packet.lastseen | date:'medium'}}") {{packet.lastseen| timeago}}
                            td
                                button(type="button",ng-click="startDownload(packet)", ng-class="{collapse:!dlActive(packet)}").btn.btn-default.btn-xs
                                    span.glyphicon.glyphicon-download
                                button(type="button",ng-click="cancelDownload(packet)", ng-class="{collapse:dlActive(packet)}").btn.btn-default.btn-xs
                                    span.glyphicon.glyphicon-stop