div(ng-controller="SettingsCtrl")
    .row
        .col-lg-12
            button(type="button",ng-click="getServers()").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Servers
            tabset
                tab(ng-repeat="serv in servers")
                    tab-heading
                        span(ng-class="{true:'label-success', false:'label-danger'}[servers[serv.key].connected]").label {{serv.key}}
                    .row(ng-controller="ServerSettingsCtrl", ng-init="init(serv.key)")
                        .col-md-3
                            h3 Server settings
                            form.form-horizontal(role="{server.key}settings",ng-submit="editServer()")
                                ul.list-group
                                    li.list-group-item
                                        .form-group
                                            label(for="host").col-md-2.control-label Host:
                                            .col-md-10
                                                input(type="text",id="host" ng-model="server.host", required).form-control
                                        .form-group
                                            label(for="port").col-md-2.control-label Port:
                                            .col-md-10
                                                input(type="text",id="port" ng-model="server.port", required).form-control
                                        .form-group
                                            label(for="nick").col-md-2.control-label Nick:
                                            .col-md-10
                                                input(type="text",id="nick" ng-model="server.nick", required).form-control
                                    li.list-group-item
                                        button.btn.btn-default(type="submit").pull-right
                                            span Save &nbsp;
                                            span.glyphicon.glyphicon-ok
                                        button.btn.btn-danger(type="delete" ng-click="removeServer()")
                                            span Delete &nbsp;
                                            span.glyphicon.glyphicon-remove

                        .col-md-4
                            h3 Channels
                            ul.list-group
                                li(ng-repeat="channel in server.channels").list-group-item
                                    .row
                                        span.col-xs-8 {{channel}}
                                        span(tooltip-placement="left", tooltip="{{isObserved(channel)|observTooltip}}").col-xs-2
                                            span(ng-class="{false:'glyphicon-eye-close text-danger', true:'glyphicon-eye-open text-success'}[isObserved(channel)]",ng-click="toggleObserv(channel)").glyphicon
                                        span(tooltip-placement="left", tooltip="Part {{channel}}").col-xs-2
                                            span(ng-click="partChannel(channel)").text-danger.glyphicon.glyphicon-ban-circle
                                li.list-group-item
                                    form(role="joinChannel", ng-submit="joinChannels()").input-group
                                        input.form-control(placeholder="Add channel", type="text", ng-model="joinChanStr")
                                        span.input-group-btn
                                            button.btn.btn-default(type="submit", tooltip="Add multiple channels separated by space", tooltip-trigger="mouseenter", tooltip-placement="left")
                                                span.glyphicon.glyphicon-plus



                        .col-md-5
                            h3 Errors
                            .alert.alert-success(ng-class="{hide:hasErrors()}") No errors recorded
                            .alert.alert-danger(ng-repeat="error in server.error | reverse")
                                .row
                                    .col-xs-9
                                        strong {{error.message.args[2]}}:&nbsp;
                                        span {{error.message.args[1]}}
                                    .col-xs-3
                                        span.pull-right {{error.errtime | timeago}}

                tab.pull-right
                    tab-heading &nbsp;
                        span.glyphicon.glyphicon-plus
                    .row(ng-controller="ServerAddCtrl")
                        .col-md-6
                            h3 Add new server
                            form.form-horizontal(role="addServer")
                                ul.list-group
                                    li.list-group-item
                                        .form-group(ng-class="{'has-warning':!isKeyUniqe()}")
                                            label(for="host").col-md-2.control-label Name:
                                            .col-md-10
                                                input(type="text",id="host" ng-model="nServConf.key", placeholder="Server name must be unique", required).form-control
                                        .form-group
                                            label(for="host").col-md-2.control-label Host:
                                            .col-md-10
                                                input(type="text",id="host" ng-model="nServConf.host", placeholder="Hostname or ip adress", required).form-control
                                        .form-group
                                            label(for="port").col-md-2.control-label Port:
                                            .col-md-10
                                                input(type="text",id="port" ng-model="nServConf.port", placeholder="Port", required).form-control
                                        .form-group
                                            label(for="nick").col-md-2.control-label Nick:
                                            .col-md-10
                                                input(type="text",id="nick" ng-model="nServConf.nick", placeholder="Nickname", required).form-control
                                        .alert.alert-warning.pull-left(ng-class="{hide:isKeyUniqe()}") Non unique key will overwrite existing sever
                                    li.list-group-item
                                        button.btn.btn-default(type="submit" ng-click="addServer()")
                                            span Save &nbsp;
                                            span.glyphicon.glyphicon-ok

                        .col-md-6
                            h3 Channels
                            ul.list-group
                                li(ng-repeat="channel in nServConf.channels").list-group-item
                                    .row
                                        span.col-xs-8 {{channel}}
                                        span(tooltip-placement="left", tooltip="{{isObserved(channel)|observTooltip}}").col-xs-2
                                            span(ng-class="{false:'glyphicon-eye-close text-danger', true:'glyphicon-eye-open text-success'}[isObserved(channel)]",ng-click="toggleObserv(channel)").glyphicon
                                        span(tooltip-placement="left", tooltip="Part {{channel}}").col-xs-2
                                            span(ng-click="partChannel(channel)").text-danger.glyphicon.glyphicon-ban-circle
                                li.list-group-item
                                    form(role="joinChannel", ng-submit="joinChannels()").input-group
                                        input.form-control(placeholder="Add channel", type="text", ng-model="joinChanStr")
                                        span.input-group-btn
                                            button.btn.btn-default(type="submit", tooltip="Add multiple channels separated by space", tooltip-trigger="mouseenter", tooltip-placement="left")
                                                span.glyphicon.glyphicon-plus