.dashnoti(ng-controller="NotificationCtrl")
    hr
    button(type="button",ng-click="clearNotifications()").pull-right.btn.btn-xs.btn-default clear
    h3 Download notifications
    ul.list-group
        li(ng-repeat='notification in notifications | reverse', ng-class='[notification.type]').list-group-item
            .col-lg-9
                .row
                    span(tooltip-placement="bottom", tooltip="{{notification.packObj.filename}}") {{notification.packObj.filename | truncate:50}}
                .row
                    span(tooltip="{{getError(notification)}}") {{getError(notification) | truncate:50}}
            .col-lg-3
                span.pull-right {{notification.time | timeago}}