hr
h3 Packets/Database
.col-sm-8
    canvas(donutchart,options="chartOptions",data="chartPacketData",height="300px")
.col-sm-4
    ul.list-group
        li.list-group-item
            span Online:
            span.label.label-success.pull-right {{onPacketPercentage() | number:1}}%
        li.list-group-item
            span Offline:
            span.label.label-danger.pull-right {{offPacketPercentage() | number:1}}%
        li.list-group-item
            span Redundant:
            span.label.label-default.pull-right {{redPacketPercentage() | number:1}}%
        li.list-group-item
            span(ng-class="{collapse:!(compacting.autoCompacting)}") Next database compacting: {{compacting.nextCompacting | date:'dd.MM HH:mm'}}
            span.label.label-warning.center-block(ng-class="{collapse:(compacting.autoCompacting)}")  No Database Cleanup