h3 Server
hr
.col-sm-8
    canvas.chart-doughnut(donutchart,chart-options="chartOptions",chart-data="chartServerData",height="300px", chart-colors="chartColors", chart-labels="chartServerLabels")
.col-sm-4
    ul.list-group
        li.list-group-item
            span Online:
            span.label.label-success.pull-right {{onServerPercentage() | number:1}}%
        li.list-group-item
            span Offline:
            span.label.label-danger.pull-right {{offServerPercentage() | number:1}}%