doctype
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Slingxdcc
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='bower_components/angular-bootstrap/ui-bootstrap-csp.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        block body