!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Slingxdcc
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        block body