/*
* ----------------------------------------------------------------------------
* "THE BEER-WARE LICENSE" (Revision 42):
* <varga.daniel@gmx.de> wrote this file. As long as you retain this notice you
* can do whatever you want with this stuff. If we meet some day, and you think
* this stuff is worth it, you can buy me a beer in return Daniel Varga
* ----------------------------------------------------------------------------
*/
/* app css stylesheet */

table thead tr th span.glyphicon {
    width: 14px;
    padding-left: 5px;
}

.topsearch {
    width: 85px;
    color: #ffffff;
    background-color: #626262;
    border-color: #151515;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.topsearch:focus {
    width: 210px;
    color: #555555;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: 15px
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 25px;
}
.left-inner-addon span.glyphicon {
    position: absolute;
    left: 8px;
    padding: 8px 0px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 25px;
}
.right-inner-addon span.glyphicon {
    position: absolute;
    right: 8px;
    padding: 8px 0px;
}

.dashboard .col-lg-6 {
    overflow: hidden;
}
.boxcenter{
    margin: 0 auto;
}

.downloads .table tbody>tr>td{
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.downloads .progress {
    height: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.progress-bar {
    -webkit-transition: background-color 0.6s ease, width 0.6s ease;
            transition: background-color 0.6s ease, width 0.6s ease;
}

tr.dlqueued {
    color: #838383;
}

tr.dlqueued td:first-child{
    padding-left: 25px !important;
}

tr.dlqueued .progress, tr.dlqueued .dlspeed , tr.dlactive .queueupdown, tr.dlactive .queuepos, tr.dlqueued .dlreceived{
    display: none;
}

.badge[href]:hover,
.badge[href]:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-default {
    background-color: #999999;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
    background-color: #808080;
}

.badge-primary {
    background-color: #428bca;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    background-color: #3071a9;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #449d44;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #31b0d5;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #ec971f;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #c9302c;
}

.navcount{
    position:absolute;
    vertical-align: middle;
    opacity: .8;
}

.navbar-brand:hover .navcount{
    opacity: 1;
}

.dashnoti ul {
    height: 285px;
    overflow-y: auto;
    overflow-x:visible;
}

.dashnoti .list-group-item {
    height: 66px;
    border-color: #afafaf;
}

.dashnoti ul li.dlsuccess{
    background-color: #daf2da;
}

.dashnoti ul li.dlerror{
    background-color: #f2dada;
}

.dashnoti ul li.dlstart{
    background-color: #dae7f2;
}

.panel-title{
    font-weight: 500;
    font-size: 24px;
}

.dbsettings .input-group-addon{
    width: 50px;
}

.dbsettings .disabled{
    opacity: 0.7;
}

.dashboard .collapse{
    display: none !important;
}

.dropdown-menu{
    overflow-x: hidden;
}

.monospace{
    font-family: monospace;
    font-size: 11px;
}

.bc-logo{
    width: 42px;
    height: 42px;
    display: block;
    background: url("../img/bc_logo.png");
}

.pp-logo{
    width: 42px;
    height: 42px;
    display: block;
    background: url("../img/pp_logo.png");
}
.donate li.list-group-item{
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.donate li.list-group-item:hover{
    background-color: #ffe8d8;
}

.tooltip-inner{
    word-wrap: break-word;
    max-width: 300px;
}