/*
* ----------------------------------------------------------------------------
* "THE BEER-WARE LICENSE" (Revision 42):
* <varga.daniel@gmx.de> wrote this file. As long as you retain this notice you
* can do whatever you want with this stuff. If we meet some day, and you think
* this stuff is worth it, you can buy me a beer in return Daniel Varga
* ----------------------------------------------------------------------------
*/
/* app css stylesheet */

table thead tr th span.glyphicon {
    width:14px;
    padding-left: 5px;
}

.dashboard .col-lg-6 {
    overflow: hidden;
}
.boxcenter{
    margin: 0 auto;
}

.downloads .table tbody>tr>td{
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.downloads .progress {
    height: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
}

tr.dlinactive {
    color: #838383;
}

tr.dlinactive td:first-child{
    padding-left: 25px !important;
}

tr.dlinactive .progress, tr.dlinactive .dlspeed , tr.dlactive .queueupdown, tr.dlactive .queuepos {
    display: none;
}
