/*
* ----------------------------------------------------------------------------
* "THE BEER-WARE LICENSE" (Revision 42):
* <varga.daniel@gmx.de> wrote this file. As long as you retain this notice you
* can do whatever you want with this stuff. If we meet some day, and you think
* this stuff is worth it, you can buy me a beer in return Daniel Varga
* ----------------------------------------------------------------------------
*/
/* app css stylesheet */

table thead tr th span.glyphicon {
    width:14px;
    padding-left: 5px;
}

.dashboard .col-lg-6 {
    overflow: hidden;
}
.boxcenter{
    margin: 0 auto;
}