.row(ng-controller="AboutCtrl")
    .col-md-9
        h4 License
        hr
        .monospace
            span "THE BEER-WARE LICENSE" (Revision 42):
            br
            span varga.daniel@gmx.de wrote this. As long as you retain this notice you
            br
            span can do whatever you want with this stuff. If we meet some day, and you think
            br
            span this stuff is worth it, you can buy me a beer in return Daniel Varga

    .col-md-3.donate
        h4 Buy me a beer
        hr
        ul.list-group
            li.list-group-item
                a(href="bitcoin:1CSUh96R8DDv1yr65NUZaQke5jpCAAXrCt")
                    .row
                        .col-xs-3
                            span.bc-logo
                        .col-xs-9
                            span Pay my beer via bitcoin!
            li.list-group-item
                a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7WMJYNQAS9KU2", target="_blank")
                    .row
                        .col-xs-3
                            span.pp-logo
                        .col-xs-9
                            span Pay my beer via paypal!
