form(role="joinChannel", ng-submit="joinChannels()").input-group
    input.form-control(placeholder="Add channel", type="text", ng-model="joinChanStr")
    span.input-group-btn
        button.btn.btn-default(type="submit", tooltip="Add multiple channels separated by space", tooltip-trigger="mouseenter", tooltip-placement="left")
            span.glyphicon.glyphicon-plus