tab(ng-repeat="serv in servers")
    tab-heading
        span(ng-class="{true:'label-success', false:'label-danger'}[servers[serv.key].connected]").label {{serv.key}}
    .row(ng-controller="ServerSettingsCtrl", ng-init="init(serv.key)")
        .col-md-3
            h3 Server settings
            form.form-horizontal(role="{server.key}settings",ng-submit="editServer()")
                ul.list-group
                    li.list-group-item
                        .form-group
                            label(for="host").col-md-2.control-label Host:
                            .col-md-10
                                input(type="text",id="host" ng-model="server.host", required).form-control
                        .form-group
                            label(for="port").col-md-2.control-label Port:
                            .col-md-10
                                input(type="text",id="port" ng-model="server.port", required).form-control
                        .form-group
                            label(for="nick").col-md-2.control-label Nick:
                            .col-md-10
                                input(type="text",id="nick" ng-model="server.nick", required).form-control
                    li.list-group-item
                        button.btn.btn-default(type="submit").pull-right
                            span Save &nbsp;
                            span.glyphicon.glyphicon-ok
                        button.btn.btn-danger(type="delete" ng-click="removeServer()")
                            span Delete &nbsp;
                            span.glyphicon.glyphicon-remove

        .col-md-4
            h3 Channels
            ul.list-group
                li(ng-repeat="channel in server.channels").list-group-item
                    include channelitem
                li.list-group-item
                    include addchannel



        .col-md-5
            h3 Errors
            .alert.alert-success(ng-class="{hide:hasErrors()}") No errors recorded
            .alert.alert-danger(ng-repeat="error in server.error | reverse")
                .row
                    .col-xs-9
                        strong {{error.message.args[2]}}:&nbsp;
                        span {{error.message.args[1]}}
                    .col-xs-3
                        span.pull-right {{error.errtime | timeago}}