div(ng-controller="SettingsCtrl")
    .row
        .col-lg-12
            button(type="button",ng-click="getData()").btn.btn-default.pull-right
                span.glyphicon.glyphicon-refresh
            h1 Settings
            uib-accordion
                div(uib-accordion-group='', close-others="true", is-open="true")
                    div(uib-accordion-heading='') Irc servers
                    uib-tabset
                        include editserver
                        include addserver
                div(uib-accordion-group='')
                    div(uib-accordion-heading='') Database
                    include database
                div(uib-accordion-group='')
                    uib-accordion-heading About
                    include about
